body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #eaeaea;
    margin: 0;
}

.container {
    margin: 0 auto;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.6;
}


.left {
    width: 34rem;
}

.canvas-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: auto;
}

.empty-box {
    width: 900px;
    min-height: 180px;
    height: 100%;
    user-select: none;
    pointer-events: none;
    background-color: #eaeaea;
}

@media (max-width: 1200px) {
    .button-set {
        flex-direction: column;
    }

    .button-set .btn {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main-set {
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
    }
}